*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}
#logo{
    font-size: 24.94px;
    text-decoration: none;
    color: black;
}
.navlink{
    text-decoration: none;
    color: rgb(107, 98, 98);
}
#section1 img{
    width: 50%;
    border-radius: 50px;
    padding-left: 8px;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
#logo, h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
    font-weight: 600;
}
#section1 .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
section{
    padding-top: 64px;
    padding-bottom: 64px;
}
h1{
    margin-bottom: 24px;
    font-size: 40px;
}
h2{
    font-size: 32px;
    margin-bottom: 8px;
}
p{
    line-height: 160%;
    color: rgb(101, 96, 96);
}
.primarybutton{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color:rgb(212, 132, 61);
    border-radius: 12px;
    text-decoration: none;
}
.secondarybutton{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    text-decoration: none;
}
#buttonholder{
    padding-top: 30px;
}
#lists{
    display: flex;
    flex-direction: row;
    gap: 18px;
    list-style: none;
    margin-top: 32px;
}
.s2lists{
    padding: 24px;
    border: 1px solid black;
    background-color: white;
}
#section2{
    background-color: rgb(179, 170, 170);
}
#section3 img{
    width: 100%;
    height:500px;
}